<!-- ejs
 is a combination of html and javascript -->
<%- include("includes/head.ejs") %>
    <title>Home Page</title>
 </head>
 <body>
    <h1>This is a home page.</h1>
    <h3> <%= 1+2 %></h3>
    <h1> <%="ApnaCollege".toUpperCase() %></h1>
    <h3> <%=['hello','bye','take care'][3] %></h3>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sapiente doloribus a ullam incidunt expedita animi suscipit veritatis deserunt. Quia voluptatum dolorum doloremque sequi repudiandae tenetur nam! Suscipit cupiditate vero quo!</p>
    <button>Click me</button>
 </body>
 </html>