<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>All Posts</title>
  <link rel="stylesheet" href="/style.css">
</head>
<body>
    <h1>Quora Posts</h1>
    <% for(post of posts) { %>
        <div class="post">
            <h2 class="user">@<%=post.username %></h2>
            <h3 class="content"><%=post.content %></h3>
            <br> 
            <a href="http://localhost:3100/posts/<%=post.id %>">See in detail</a>
        </div>
    <% } %> <br><br>
<!-- liknking directly to the form from home page(index.ejs)-->
    <a href="http://localhost:3100/posts/new">Create new Post</a>
</body>
</html>